
<div class="row">
  <div class="col-md-8 offset-md-2">
   <p id="notice"><%= notice %></p>
   <h1><%= Coin.model_name.human(count: @coins.count) %></h1>
   <%= link_to t('new.coin'), new_coin_path, class:"btn btn-primary float-right mb-2" %>

    <table class="table table-hover table-bordered">
      <thead class="thead-dark">
        <tr>
          <th style="width: 40%;"><%= @coins.human_attribute_name(:description) %></th>
          <th style="width: 10%; text-align:center;"><%= @coins.human_attribute_name(:acronym) %></th>
          <th style="width: 10%; text-align:center;"><%= @coins.human_attribute_name(:url_image) %></th>
          <th style="width: 20%; text-align:center;"><%= t('tables.options') %></th>
        </tr>
      </thead>

      <tbody>
        <% @coins.each do |coin| %>
          <tr>
            <td><%= coin.description %></td>
            <td style="text-align:center;"><%= coin.acronym %></td>
            <td style="text-align:center;"><%= image_tag coin.url_image, size: "25x25" %></td>
            <td><%= link_to t('links.show'), coin, class:"btn btn-success btn-sm" %> <%= link_to t('links.edit'), edit_coin_path(coin), class:"btn btn-info btn-sm" %> <%= link_to t('links.delete'), coin, class:"btn btn-danger btn-sm", method: :delete, data: { confirm: t('messages.del_confirm') } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


